{%  extends 'advbook.html' %}
{% load static %}

{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Advbook</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
{% endblock %}


{% block slider %}
{% endblock %}
 
{% block about %}
{% endblock %}

{% block content1 %}
{% endblock %}

{% block content2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body align="center"><br><br>
<p style="font-size: xx-large; margin-left: 180px; color: cornflowerblue;">Hello,Welcome to your page.View your appointment requests here.</p>
<br><br>
<p align="center" style="font-size:large;">Client Request</p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Date</th>
            <th>Time</th>
            <th>Accept</th>
            <th>Reject</th>
        </tr>
    </thead>
    <tbody>
        {% for i in requests %}
        <tr>
            <td>{{i.user_id.name}}</td>
            <td>{{i.user_id.email}}</td>
            <td>{{i.user_id.number}}</td>
            <td>{{i.date}}</td>
            <td>{{i.time}}</td>
            <td><a href="{% url 'accept_appointment' i.id %}"><button class="btn btn-success">Accept</button></a></td>
            <td><a href="{% url 'reject_appointment' i.id %}"><button class="btn btn-danger">Reject</button></a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="10" style="text-align: center;"> No Requests</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br><br><br><br><br>
<p style="margin-left: 620px;">Click here to view <a href="{% url 'view_advpage' %}"><b>other advocate(s)</b>.</a></p>

</body>
</html>



{% endblock %}

{% block footer %}
{% endblock %}